.belka
{
	background-color:#0b3c4d;
	min-height:50px;

    
}
.library_name
{
    text-align: center;
    font-size: 1.5rem;
    color:white !Important;
    font-weight:700;
    padding: 15px;
}

.browser
{
    color: white;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
}

.label
{
    padding-right: 5px;
}

.find_radio
{
    padding-left: 5px;
}
.button_find
{
    padding: 5px;
    color:white;
    background-color:#11607a;
}
.button_find:hover 
{
    background-color:#1d718d;
}
.find_text
{
    width: 350px;
}
.user,.login_or_rejestr
{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color:white;
    padding: 10px;

}
.login_or_rejestr:hover
{
color: #43abce !Important;
}
.basket_icon
{
    text-align: left;
    font-size: 1.5rem;
    color:white;
    padding-top: 10px;
    margin-left: 0;
}
.books_cards
{
    margin-bottom:35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.book_card
{
    margin-top: 20px;
    margin-left:10px;
    margin-right:10px;
    width: 350px;
    -webkit-box-shadow: 0px 5px 34px -10px rgba(11, 60, 77, 1);
    -moz-box-shadow: 0px 5px 34px -10px rgba(11, 60, 77, 1);
    box-shadow: 0px 5px 34px -10px rgba(11, 60, 77, 1);
}
.book_detail
{
    margin-bottom:70px;
}
.book__card_img
{
    width: 100%;
    max-height: 350px;
    padding-top:20px;
    text-align: center;
    padding-bottom: 15px;
    border-radius: 5px;
    border-bottom: 1px solid #0b3c4d;

}
.book__card_info{
    padding-top:10px;
    height: 130px !important;

}
.title
{
    font-size:1rem;
    padding-left:20px;
    padding-right:15px;
}
.titles
{
    font-weight: 700;
}
.rental_button
{
    padding-top: 10px;
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;

}
.button
{
    padding: 10px;
    font-weight: 700;
    font-size: 0.8rem;
    color:white;
    background-color:#0b3c4d;
}
.button:hover
{
    background-color:#1d718d;
}
.book_card_info
{
    margin-bottom:15px;

}
.books_cards_details,.rentals
{
    margin-bottom:15px;
    margin-top:25px !Important;
}
.book_card_details,.rentals_table
{
    margin-top: 20px;
    margin-left:10px;
    margin-right:10px;
    -webkit-box-shadow: 0px 5px 34px -10px rgba(11, 60, 77, 1);
    -moz-box-shadow: 0px 5px 34px -10px rgba(11, 60, 77, 1);
    box-shadow: 0px 5px 34px -10px rgba(11, 60, 77, 1);
}
.book__card_img_details
{
    padding-top:20px;
    text-align: center;
    padding-bottom: 15px;
    border-radius: 5px;
    border-right: 1px solid #0b3c4d;
    display:inline-block;
}
.book__card_info_details{


    display:inline-block;
}
.rental_button_details
{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    display:inline-block;

}
.title_details
{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}
.detail
{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    margin-bottom: 10px;
}
.description
{
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top:10px;
}
.text-muted
{
    color:white;
}
.login_or_rejestr
{
    cursor:pointer;
}
.modalny{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background-color: rgb(1,1,1,0.65);
}
.modalny_wraper
{
    width:30% !Important;
    background-color: white !Important;
    margin:20px auto 0 auto !Important;
    border-radius: 5px !Important;
    position:relative !Important;
}
.modalny_close
{
    position: absolute;
    top: 0;
    right:0;
    margin-right: 5px;
    cursor: pointer;
}
.hidden
{
    display: none;
}
.log_rej
{
    text-align: center;
    margin-bottom: 0;
}
.belka_modal
{
    font-size: 1.5rem;
    color:white;
    background-color:  #0b3c4d;
    padding-bottom: 5px;
    padding-top: 5px;
}
.login_form
{
    margin-top:10px;
    font-size: 1.3rem;
    margin-left:20px;
    font-weight: 700;
    color:#0b3c4d;
}
.login_rej_button
{
    margin-top:20px;
    font-size: 1.3rem;
    padding-bottom: 10px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #0b3c4d;
  }
  html {
    position: relative;
    min-height: 100%;
  }
  .rentals
  {
    margin-bottom:75px;
  }
  .rentals_text
  {
      font-size:2rem;
      font-weight: 700;
      text-align:center;
      padding-bottom: 20px;
      padding-top:5px;
      text-transform: uppercase;
  }
  tr
  {
    font-size:1rem;
    font-weight: 700;
    text-align:center;
    padding-bottom: 20px;
    padding-top:5px;
    text-transform: uppercase;
    color:#0b3c4d;
}
.button_cancel,.button_cancel_modal
{
    padding: 10px;
    font-weight: 700;
    font-size: 0.8rem;
    color:white;
    background-color:#4d0b0b;
}
.button_cancel_modal
{
    margin-left: 30px;
}
.button_cancel_modal:hover, .button_cancel:hover
{
    background-color:#8d2a1d;
}
.button_akcept_modal
{
    padding: 10px;
    display: block;
    margin: 10px auto;
    font-weight: 700;
    font-size: 0.8rem;
    color:white;
    background-color:#0b3c4d;
}
.button_akcept_modal:hover
{
    background-color:#1d718d;
}
.button_cancel_modal
{
    margin-top: 20px;
    display: block;
    margin: 0 auto;
}
.rental_info
{
    color:#0b3c4d;
    font-size:1.5rem;
    font-weight: 700;
    padding:10px;
    margin:10px;
    text-align: center;
}
.button_akcept
{
    margin-left:auto;
    margin-right:auto;
    
}
.login_rej_button_second
{
    margin-top:10px;
    font-size: 1.3rem;
    padding-bottom: 10px;
}
.more_button
{
    margin-bottom: 50px;
}
.profile_info
{
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding-left: 30px;
}
@media screen and (max-width: 700px)
{
    .books_cards
    {
        flex-direction: column;
    }
    .book_card
    {
        width:95%;
    }
    .modalny_wraper
    {
        width:70% !Important;
    }
    .browser_buttons
    {
        padding-top: 10px;
    }
    tr
    {
        font-size:.8rem;
    }
    .profile_info
    {
        font-size: 1rem;

    }
    .title_details
    {
        font-size: 1.6rem;
    }

}
@media (min-width: 701px) and (max-width:1200px)
{
    .find_text
        {
            width: 200px;
        }
}
#name-error,#password-error,#password_second-error,#surname-error
{
    color:red;
    padding-left: 20px;
    font-size:1rem;
    font-weight: 700;
}
.library_name > a,.user > a,.basket_icon > a
{
    color: white !Important;
    text-decoration:none;
}
.library_name > a:hover,.user > a:hover,.basket_icon > a:hover
{
    color: #43abce !Important;
}
.basket_empty
{
    text-align:center;
    font-size: 1.5rem;
    font-weight:700;
    padding: 15px;
    color:#0b3c4d;

}
.info_quantity_empty
{
    font-size: 1.5rem;
    font-weight:700;
    color:#0b3c4d;
}